## 1. Introduction / Business Problem

Moving to a new city can be puzzling. All areas look the same and deciding where to establish your nest is a tricky process.

The aim of this recommendation system is suggesting the perfect neighborhood of Berlin (Germany) based on the importance/weight attributed to the following criteria:

1. Green Spaces (number and dimension of parks within the neighborhood)
2. Kindergarden (number of kindergardens in the area)
3. Nightlife (number of clubs in the area)
4. Eating Out (number and variety of restaurants)
5. Affordable Yoga (availability of yoga classes and their price)

In [1]:
import pandas as pd

In [17]:
recom_subjects = pd.read_csv('MoveBerlinInput - Sheet1 (1).csv')

5 apartment-seekers have been asked to weigh the 5 criteria listed above on a scale from 0 to 4 and this was the result

In [18]:
recom_subjects

     Name  Green Spaces  Kindergarden  Nightlife  Eating Out  Affordable Yoga
0  Brenda             0             2          4           2                1
1   Dylan             2             4          4           1                3
2   Kelly             3             0          4           2                2
3  Andrea             4             4          0           2                0
4   Steve             3             3          4           0                4

The desired outcome of the recommendation system is one best fitting neighborhood for each apartment seeker based on the specified weights

## 2. DATA

1. ANALYTIC APPROACH - I'll come up with the formula for a Neighborhood Score taking into account the five criteria and the different possible weights.

2. DATA REQUIREMENT - The system will take as input mainly venue and price range data from Foursquare, plus possibly park dimensions from Wikipedia or other official sources